<section class="tableapp">
        <add-item-component></add-item-component>
        
        <section *ngIf="getTableItems().length">
            <table class="table table-bordered">
                <tr>
                    <th>Name </th>
                    <th>Surname </th>
                    <th>Age </th>
                    <th>Gender </th>
                </tr>
                <table-item 
                    *ngFor="let tableItem of getTableItems() | sort:sorting" 
                    [tableItem]="tableItem" 
                    (itemRemoved)="remove($event)" 
                    (itemModified)="update($event)">
                </table-item>
            </table>
        </section>
</section>