<td>
    <input type="text" 
        *ngIf="isEditing" 
        [value]=" tableItem.name" 
        [(ngModel)] = "editedItem.name"
        class="table-input">
    <span *ngIf="!isEditing">{{  tableItem.name }} </span>
</td>
<td>
    <input type="text" 
        *ngIf="isEditing" 
        [value]=" tableItem.surname" 
        [(ngModel)] = "editedItem.surname"
        class="table-input">
    <span *ngIf="!isEditing">{{  tableItem.surname }} </span>
</td>
<td>
    <input type="number" 
        *ngIf="isEditing" 
        [value]=" tableItem.age" 
        [(ngModel)] = "editedItem.age"
        class="table-input">
    <span *ngIf="!isEditing">{{  tableItem.age }} </span>
</td>
<td>
    <select name="gender" *ngIf="isEditing" [value]=" tableItem.gender" [(ngModel)] = "editedItem.gender">
        <option value="" disabled selected>Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <span *ngIf="!isEditing">{{  tableItem.gender }} </span>
</td>
<button *ngIf="!isEditing" (click)="edit()" class="btn btn-default">🖉 Edit</button>
<button *ngIf="!isEditing" (click)="remove()" class="btn btn-danger">🚮 Remove</button>
<button *ngIf="isEditing" (click)="saveChanges()" class="btn btn-success">✓ Save</button>
<button *ngIf="isEditing" (click)="cancelEditing()" class="btn btn-warning">❌ Cancel</button>
    
